@model IEnumerable<Loan>

@{
    ViewBag.Title = "Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<hr />

<div class="tab-content">
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Principal)</th>
                    <th class="visible-md visible-lg text-right">@Html.DisplayNameFor(m => m.PaymentsRemaining)</th>
                    <th class="visible-sm visible-md visible-lg text-right">@Html.DisplayNameFor(m => m.LastPaidAmount)</th>
                    <th class="visible-sm visible-md visible-lg">@Html.DisplayNameFor(m => m.LastPaidDate)</th>
                    <th class="visible-md visible-lg text-right">@Html.DisplayNameFor(m => m.BasePayment)</th>
                    <th>@Html.DisplayNameFor(m => m.DueDate)</th>
                    <th class="text-right">@Html.DisplayNameFor(m => m.MonthlyPayment)</th>

                    <th>@Html.DisplayNameFor(m => m.DueInDays)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Loan item in Model)
                {
                    <tr class="@item.Classes">
                        <td>@Html.ActionLink(Html.DisplayFor(m => item.Name).ToString(), "Edit", new { id = item.Id })</td>
                        <td class="text-right">@Html.DisplayFor(m => item.Principal)</td>
                        <td class="visible-md visible-lg text-right">@Html.DisplayFor(m => item.PaymentsRemaining)</td>
                        <td class="visible-sm visible-md visible-lg text-right">@Html.DisplayFor(m => item.LastPaidAmount)</td>
                        <td class="visible-sm visible-md visible-lg">@Html.DisplayFor(m => item.LastPaidDate)</td>
                        <td class="visible-md visible-lg text-right">@Html.DisplayFor(m => item.BasePayment)</td>
                        <td>@Html.DisplayFor(m => item.DueDate)</td>
                        <td class="text-right">@Html.DisplayFor(m => item.MonthlyPayment)</td>
                        <td>@Html.DisplayFor(m => item.DueIn)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
