@model Loan

@{
    if (ViewBag.Action == "Add")
    {
        ViewBag.Title = "Add Loan";
    } else
    {
        ViewBag.Title = Model.Name + " Loan";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear-after">
    <div class="pull-right">
        @if (ViewBag.Action == "Edit")
        {
            @Html.ActionLink("Back to Loan", "View", new { id = Model.Id }, new { @class = "btn btn-danger" })
        }
        else
        {
            @Html.ActionLink("Back to all Loans", "Index", null, new { @class = "btn btn-primary" })
        }
    </div>
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
                <h2>Loan Info</h2>
                @if (ViewBag.Action == "View")
                {
                    <div class="tab-content">
                        <div class="table-container">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstPaymentDate)</th>
                                        <td>@Html.DisplayFor(model => model.FirstPaymentDate)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.LoanAmount)</th>
                                        <td>@Html.DisplayFor(model => model.LoanAmount)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.InterestRate)</th>
                                        <td>@Html.DisplayFor(model => model.InterestRate)</td>
                                    </tr>
                                    @if (Model.PaymentInterestRate > 0)
                                    {
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.PaymentInterestRate)</th>
                                            <td>@Html.DisplayFor(model => model.PaymentInterestRate)</td>
                                        </tr>
                                    }
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Term)</th>
                                        <td>@Html.DisplayFor(model => model.Term)</td>
                                    </tr>
                                    @if (Model.AddPayment > 0)
                                    {
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.AddPayment)</th>
                                            <td>@Html.DisplayFor(model => model.AddPayment)</td>
                                        </tr>
                                    }
                                    @if (Model.Escrow > 0)
                                    {
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.Escrow)</th>
                                            <td>@Html.DisplayFor(model => model.Escrow)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-right margin-top-20">
                        @Html.ActionLink("Edit Loan", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    </div>
                }
                else
                {
                    @Html.Partial("_LoanForm")
                }
            </div>

            @Html.Partial("_PaymentInfo")
        </div>
    </div>

    <div class="col-xs-12 col-md-8">
        @Html.Partial("_HistoryOutlook")
    </div>
</div>
