@model Bill

@{
    ViewBag.Title = Model.Name + " Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear-after">
    <div class="pull-right">
        @Html.ActionLink("Back to all Bills", "Index", null, new { @class = "btn btn-primary" })
    </div>
    <h2>@ViewBag.Title</h2>
</div>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaysSame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaysSame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shared)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shared)
        </dd>








        <dt>
            @Html.DisplayNameFor(model => model.LastPaidDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastPaidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPaidAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastPaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AveragePaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPastDue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPastDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>


@if (Model.BillHistoryAverage != null)
{
    <div class="tab-content">
        <div class="table-container">
            <table class="table table-striped hidden-on-load" id="BillMonthlyAveragesTable">
                <thead>
                    <tr>
                        <th class="hidden"></th>
                        <th>@Html.DisplayNameFor(m => m.BillHistoryAverage.First().Month)</th>
                        <th class="text-right">@Html.DisplayNameFor(m => m.BillHistoryAverage.First().Minimum)</th>
                        <th class="text-right">@Html.DisplayNameFor(m => m.BillHistoryAverage.First().Maximum)</th>
                        <th class="text-right">@Html.DisplayNameFor(m => m.BillHistoryAverage.First().Average)</th>
                    </tr>
                </thead>
                <tbody>
                    @{int count = 0;}
                    @foreach (BillHistoryAverage item in Model.BillHistoryAverage)
                    {
                        count += 1;
                        <tr>
                            <td data-order="@count" class="hidden"></td>
                            <td data-order="@item.Month.Month">@Html.DisplayFor(m => item.Month)</td>
                            <td class="text-right">@Html.DisplayFor(m => item.Minimum)</td>
                            <td class="text-right">@Html.DisplayFor(m => item.Maximum)</td>
                            <td class="text-right">@Html.DisplayFor(m => item.Average)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="hidden"></th>
                        <th>@Html.DisplayNameFor(m => m.AveragePaid) - @Html.DisplayFor(m => m.AverageDay)</th>
                        <th class="text-right">@Html.DisplayFor(m => m.MinPaid)</th>
                        <th class="text-right">@Html.DisplayFor(m => m.MaxPaid)</th>
                        <th class="text-right">@Html.DisplayFor(m => Model.AveragePaid)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}


        
@if (Model.BillHistory != null)
{
    <div class="tab-content">
        <div class="table-container border-bottom-ddd">
            <table class="table table-striped hidden-on-load" id="BillPaymentHistoryTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.BillHistory.First().DatePaid)</th>
                        <th class="hidden-xs">@Html.DisplayNameFor(m => m.BillHistory.First().Payee)</th>
                        <th class="hidden-xs">@Html.DisplayNameFor(m => m.BillHistory.First().IssueDate)</th>
                        <th class="text-right">@Html.DisplayNameFor(m => m.BillHistory.First().Amount)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BillHistory)
                    {
                        <tr>
                            <td data-search="@item.DatePaid.Year" data-order="@((item.DatePaid - new DateTime(2000, 1, 1)).Days)">
                                @Html.ActionLink(item.DatePaid.ToString("MMMM - dd"), "EditPayment", new { id = item.Id })
                            </td>
                            <td class="hidden-xs">@Html.DisplayFor(m => item.Payee)</td>
                            <td class="hidden-xs">@Html.DisplayFor(m => item.IssueDate)</td>
                            <td class="text-right">@Html.DisplayFor(m => item.Amount)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total:</th>
                        <th class="hidden-xs"></th>
                        <th class="hidden-xs"></th>
                        <th class="total text-right"></th>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="text-center">
            <ul class="pagination">
                @for (int i = Model.MaxYear; i >= Model.MinYear; i--)
                {
                    <li><a href="#" data-year="@i">@i</a></li>
                }
            </ul>
        </div>
    </div>
}
