@model DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<hr />

<script>
    charts = [];
</script>
<div class="row">
    @{ int count = 0; }
    @foreach (DashboardDateRange range in Model.DateRanges)
    {
        count += 1;
        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h2 class="panel-title">@Html.DisplayFor(x => range.StartDate) - @Html.DisplayFor(m => range.EndDate), @range.EndDate.Year</h2>
                    </div>
                    <div class="pull-right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tableTab-@count" data-toggle="tab">Table</a></li>
                            <li><a href="#graghTab-@count" data-toggle="tab" data-chart-number="@count">Graph</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content remove-border">
                        <div class="tab-pane fade in active" id="tableTab-@count">
                            <table class="table table-striped" id="Dashboard-Table-@count">
                                <thead>
                                    <tr>
                                        <th style="width: 50%">@Html.DisplayNameFor(m => range.Items.First().Name)</th>
                                        <th>@Html.DisplayNameFor(m => range.Items.First().Date)</th>
                                        <th>@Html.DisplayNameFor(m => range.Items.First().DueInDays)</th>
                                        <th></th>
                                        <th class="text-right">@Html.DisplayNameFor(m => range.Items.First().Amount)</th>
                                    </tr>
                                </thead>
                                @foreach (DashboardItem item in range.Items)
                                {
                                    <tr class="@item.Classes">
                                        <td>@Html.ActionLink(Html.DisplayFor(m => item.Name).ToString(), "View", item.Type + "s", new { id = item.Id }, null)</td>
                                        <td>@Html.DisplayFor(m => item.Date)</td>
                                        <td>@Html.DisplayFor(m => item.DueIn)</td>
                                        <td>
                                            @if (!item.IsPaid)
                                            {
                                                if (item.Type == "Bill")
                                                {
                                                    @Html.ActionLink("Paid", "Paid", item.Type + "s", new { id = item.Id }, null)
                                                }
                                                else if (item.Type == "Loan")
                                                {
                                                    @Html.ActionLink("Paid", "AddPayment", item.Type + "s", new { id = item.Id }, null)
                                                }
                                            }
                                        </td>
                                        <td class="text-right">@Html.DisplayFor(m => item.Amount)</td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        <th class="text-right" colspan="3">@Html.DisplayNameFor(x => range.LeftToPay): <span class="total">@Html.DisplayFor(x => range.LeftToPay)</span></th>
                                        <th class="text-right" colspan="2">@Html.DisplayNameFor(x => range.Total): <span class="total">@Html.DisplayFor(x => range.Total)</span></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="graghTab-@count">
                            <div id="chart-@count" style="height: 400px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            charts.push({
                chartName: "chart-@count",
                loaded: false,
                data: [
                    @foreach (DashboardItem item in range.Items)
                    {
                        @:{ y: @item.Amount, indexLabel: "@item.Name" },
                    }
                ]
            });
        </script>
        if (count % 2 == 0)
        {
            <div class="clearfix"></div>
        }
    }
</div>
